In [1]:
access_key = "123"
secret_key = "456"
spark.conf.set("fs.s3a.access.key", access_key)
spark.conf.set("fs.s3a.secret.key", secret_key)
spark.conf.set("fs.s3a.endpoint", "s3.amazonaws.com")
file_location = "s3a://dbdata244/football_data.csv"
df = spark.read.format("csv") \
    .option("header", "true") \
    .option("quote", '"') \
    .option("escape", '"') \
    .option("multiline", "true") \
    .option("inferSchema", "true") \
    .load(file_location)
df.show(2)

NameError: name 'spark' is not defined

Data Processing
Json Flatten, Json Schema functions.... Array explode functions.....date format functions....UDF.... dynamic view masking.....constraints

In [2]:
# Creating a temp table for AQL analysis as well
df.createOrReplaceTempView("football")

NameError: name 'df' is not defined

In [3]:
%sql
SELECT * FROM football limit 2;

SyntaxError: invalid syntax (Temp/ipykernel_25804/1579235166.py, line 2)

In [4]:
%sql
select JSON_DATA:stats FROM FOOTBALL LIMIT 2;

SyntaxError: invalid syntax (Temp/ipykernel_25804/3435810710.py, line 2)

In [5]:
display(df.where("JSON_DATA:player_name = 'Player_1'").select("*"))

NameError: name 'df' is not defined

# Now use the JSON string example above to derive the schema, then parse the entire JSON column into struct types

schema_of_json() returns the schema derived from an example JSON string.<br>
from_json() parses a column containing a JSON string into a struct type using the specified schema.

In [6]:
%sql
Select schema_of_json('{"player_name": "Player_1", "stats": {"goals": 4, "assists": 15, "position": "Forward", "team": {"name": "Team_11", "stadium": "Stadium_2"}}, "is_captain": true}') as schema;

SyntaxError: invalid syntax (Temp/ipykernel_25804/3205314961.py, line 2)

In [7]:
%sql
CREATE OR REPLACE TEMP VIEW parsed_football AS SELECT json.* FROM (
SELECT from_json(JSON_DATA, 'STRUCT<is_captain: BOOLEAN, player_name: STRING, stats: STRUCT<assists: BIGINT, goals: BIGINT, position: STRING, team: STRUCT<name: STRING, stadium: STRING>>>') AS json 
FROM football);

SELECT * FROM parsed_football;

SyntaxError: invalid syntax (Temp/ipykernel_25804/3008334594.py, line 2)

In [8]:
from pyspark.sql.functions import from_json, schema_of_json
json_string = '''{"player_name": "Player_1", "stats": {"goals": 4, "assists": 15, "position": "Forward", "team": {"name": "Team_11", "stadium": "Stadium_2"}}, "is_captain": true}'''
parsed_df = (df.select(from_json("JSON_Data", schema_of_json(json_string)).alias("json")).select("json.*"))
display(parsed_df)

NameError: name 'df' is not defined

In [9]:
%sql
SELECT Unique_ID, ARRAY(Match_Performance) AS items FROM football;

SyntaxError: invalid syntax (Temp/ipykernel_25804/1691870806.py, line 2)

In [10]:
import json
def get_player_name(json_data):
    return json.loads(json_data)["player_name"]
  
udf_f = udf(get_player_name)
df.select(udf_f("JSON_Data").alias("player_name")).show(2)

NameError: name 'udf' is not defined

In [11]:
udff = spark.udf.register("usd_sql",get_player_name)

NameError: name 'spark' is not defined

In [12]:
%sql
SELECT usd_sql(json_data) from football limit 2;

SyntaxError: invalid syntax (Temp/ipykernel_25804/2862263742.py, line 2)

In [13]:
from pyspark.sql.functions import date_format

display(df.withColumn("parsed_date",date_format(df['Date'],"MMM d, yyyy")))

NameError: name 'df' is not defined

In [14]:
%sql
CREATE OR REPLACE FUNCTION TEST_MASKING(X String)
returns STRING
return concat(repeat("*", length(X) -2), right(X, 2));

SyntaxError: invalid syntax (Temp/ipykernel_25804/3103709166.py, line 2)